.section {
    width: 375px;
    height: 250px;
    margin: auto;

    border: 2px solid rgb(56, 55, 55);
    gap: 5px;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;

}

.bloques {
    width: 350px;
    height: 65px;

    background-color: rgb(70, 68, 68);
}